<% 
let articleCategorie=[]

if(locals.categories)
{
    //Info sur les categories de l'article en cours de modification
     articleCategorie=categories[articles_name]||[]
}

%>


    <select name="categoriesLIst" id="" multiple>

        <% allCategorieInfo.forEach(categorie => { %>
            
            <%
                 let isSelected=false

                 articleCategorie.forEach((currentCategorie)=>{
                    
                    if (currentCategorie.name===categorie.categories_name)
                    {
                        isSelected=true
                    }

                 })

             %>

            <option value="<%= categorie.id %>" <%= isSelected?"selected":"" %> ><%= categorie.categories_name %></option>

        <% }) %>

    </select>
