<% 
const articleCategorie=categories[articles_name]||[]

%>


    <select name="categoriesLIst" id="" multiple>

        <% allCategorieInfo.forEach(categorie => { %>
            <%
                 let isSelected=false

                 articleCategorie.forEach((articleCategorie)=>{
                    
                    if (articleCategorie.name===categorie.categories_name)
                    {
                        isSelected=true
                    }

                 })
             %>
        <option value="<%= categorie.id %>" <%= isSelected?"selected":"" %> ><%= categorie.categories_name %></option>
        <% }) %>

    </select>
